@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

body{
    overflow-x: hidden;
}


header {
    background-image: url(imgs/360_F_326122335_RKvTXMb4RYkIzk94ZoPjkZQe2CUOVnen.jpg);
    background-size: cover;
    background-position: center center;
    padding: 20px;
    height: 25rem;
    color: white;
    filter: brightness(90%);
}

header h1 {
    text-align: center;
    padding-top: 7.4rem;
    font-size: 3.5rem;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    margin-left: 7rem;
}


nav a:hover{
    color: black;
    transition: 0.4s ease;
    border-bottom: 1px solid white; 
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: all 0.3s ease;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%); 
        opacity: 0; 
    }
    100% {
        transform: translateX(0); 
        opacity: 1; 
    }
}


main h3{
    text-align: center;
    font-size: 2rem;
    padding-top: 3rem ;
    padding-bottom: 5rem;
    animation: slideIn 1s ease-out;
}

.featured {
    display: flex;
    justify-content: space-around;
    padding-bottom: 60px;
    animation: slideIn 2s ease-out;
}



.card {
    background-color: #99a3a4; 
    color: white;
    text-decoration: none;
    width: 380px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: slideIn 3.2s ease-out;
}

.card h2{
    margin-top: 20px;
}

.card i {
    position: relative;
    bottom: 40px;
    font-size: 2.3rem;
}


.card:nth-child(1):hover{
    background-image: url(imgs/Coffee-Packaging-Aroma-4.jpg);
    filter: brightness(70%);
    transition: 0.5s ease-in-out;
}


.card:nth-child(2):hover{
    background-image: url(imgs/contai.jpg);
    filter: brightness(70%);
    transition: 0.5s ease-in-out;
}

.card:nth-child(3):hover{
    background-image: url(imgs/nacional.jpg);
    filter: brightness(70%);
    transition: 0.5s ease-in-out;
}


.about{
    margin-bottom: 4rem;
}

.info {
    background-image: url(imgs/Exportación-de-café.webp);
    background-size: cover;
    background-position:center center;
    height: 29rem;
    filter: brightness(90%);
    margin: 20px;
    border-radius: 10px;
    animation: slideIn 3.7s ease-out;
}

.info h2{
    color: white;
    font-size: 3.2rem;
    margin-left: 3rem;  
    width: 30%;
}

.btn {
    background-color: white;
    color: black;
    width: 9.5rem;
    height: 3.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-inline: 50rem;
    font-size: 30px;
    border-radius: 7px;
}

.btn:hover{
    background-color: black;
    color: white;
    opacity: 0.6;
    transition: 0.6s ease;
}

.informa {
    display: flex;
    justify-content: space-around;
    margin: 1px;
    margin-bottom: 10rem;
    animation: slideIn 4.5s ease-out;
}

.inform {
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    border-radius: 10px;
    width: 25%;
    height: 20rem;
    text-align: center;
}

.inform p {
    margin: 29px;
    font-size: 1.2rem;
}

.logcont{
    margin-top: 16px;
}

.log {
    width: 3.3rem;
}

footer{
    display: flex;
    justify-content: space-between;
}

.fot{
    background-color: #99a3a4;
    height: 19rem;
}

.infofotr {
    margin: 9px;
}

.infofotr h2 {
    text-align: center;
    color: white;
    font-size: 2rem;
    padding-bottom: 1rem;
    padding-left: 6rem;
}

.infofotr p {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    padding-left: 6rem;
}

.infofot{
    margin: 8px;
}

.infofot ul {
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.infofot a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}

.infofot a:hover{
    color: black;
    transition: 0.4s ease;
    border-bottom: 1px solid white; 
}

.infofot h2 {
    text-align: center;
    color: white;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.redes{
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: white;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.redes img {
    width: 5rem;
}

.imgfo {
    padding-top: 8rem;
    margin-inline: .5rem;
    margin-right: 3rem;
}

.imgfo:hover {
    transform: translateY(-6px);
}

.lineasep {
    float: right;
    width: 1px;
    margin-top: 20px;
    margin-bottom: 10px;
}

address {
    background-color: black;
    color: white;
    text-align: center;
}

/* Estilos para tablet  */
@media (max-width: 1024px) {
    header {
        height: 20rem;
    }
    
    header h1 {
        font-size: 3rem;
        padding-top: 5rem;
    }

    nav ul li a {
        font-size: 1.5rem;
        margin-left: 4.5rem;
    }

    .featured {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        margin-bottom: 20px;
    }

    .info h2 {
        font-size: 2.5rem;
        margin-left: 2rem;
        width: 50%;
    }

    .btn {
        margin-inline: 0;
        display: block;
        margin: 2rem auto;
    }

    .informa {
        flex-direction: column;
        align-items: center;
    }

    .inform {
        width: 90%;
        margin-bottom: 20px;
    }

    .redes img {
        width: 4rem;
    }
}


/* Estilos para móvil */
@media (max-width: 768px) {
    .nav {
        position: relative;
    }

    nav ul {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        justify-content: center;
        padding: 1rem 0;
    }

    nav ul li {
        margin: 1rem 0;
    }

    .menu-toggle {
        display: flex;
    }

    nav ul.show {
        display: flex;
    }

    .menu-toggle.open span:nth-child(1) {
        transform: rotate(45deg) translateY(2rem);
    }

    .menu-toggle.open span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.open span:nth-child(3) {
        transform: rotate(-45deg) translateY(-.3rem);
    }


    .featured {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 95%;
        margin: 10px 0;
    }

    .info h2 {
        font-size: 2rem;
        margin-left: 1rem;
        width: 70%;
    }

    .btn {
        margin-inline: 0;
        display: block;
        margin: 1rem auto;
        font-size: 20px;
    }

    .informa {
        flex-direction: column;
        align-items: center;
    }

    .inform {
        width: 95%;
        margin-bottom: 10px;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }


    .infofotr h2, .infofot h2 {
        font-size: 1.6rem;
    }

    .infofotr p, .infofot a {
        font-size: 1.2rem;
    }

    .redes {
        flex-direction: row;
        justify-content: center;
    }

    .redes img {
        width: 2.5rem;
    }

    .lineasep {
        display: none;
    }
}


