@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

body{
    overflow-x: hidden;
}


header {
    background-color: #99a3a4;
    background-size: cover;
    background-position: center center;
    height: 10rem;
    color: white;
    filter: brightness(90%);
}

.nav > h1 {
    font-size: 2.4rem;
    margin: 10px;
}

main h3{
    text-align: center;
    font-size: 2rem;
    padding-top: 3rem ;
    padding-bottom: 5rem;
}

main h2 {
    padding-top: 3rem;
    text-align: center;
    font-size: 3rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 4rem;
}

.logo {
    width: 9rem;
    margin-inline: 3rem;
    padding-bottom: 15px;
}

nav ul {
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 35px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.222rem;
}


nav a:hover{
    color: rgb(114, 110, 110);
    transition: 0.4s ease;
    border-bottom: 1px solid white; 
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%); /* Empieza fuera de la pantalla a la izquierda */
        opacity: 0; /* Opcional: comienza transparente */
    }
    100% {
        transform: translateX(0); /* Termina en su posición original */
        opacity: 1; /* Opcional: termina siendo visible */
    }
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url('../imgs/Diseno-sin-titulo-20.jpg');
    padding: 50px;
    color: white;
    background-position: center center;
    height: 33rem;
    margin-top: 1px;
    animation: slideIn 1.2s ease-out;
}

.hero-content {
    max-width: 100%;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.cta-button:hover {
    background-color: black;
    color: white;
    opacity: .8;
    transition: .4s ease-in-out;
}

.featured {
    color: black;
    display: flex;
    justify-content: space-between;
    margin: 100px;
    animation: slideIn 1.5s ease-out; 
}

.img {
    width: 22rem;
    border-radius: 10px;
}

.text {
    margin: 4rem;
    font-size: 1.4rem;
    padding: 5px -25px;
}

.featured p {
    margin: 20px;
}

.container {
    margin: 4rem;
    padding-top: 1rem ;
    animation: slideIn 2.5s ease-out;
}

.benefit {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color:  white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    margin-inline: 4rem;
}

.benefit .icon {
    flex: 0 0 50px;
    margin-right: 20px;
}

.benefit .icon img {
    width: 7rem;
}

.benefit .text h3 {
    font-size: 18px;
    color: black;
    margin-bottom: 5px;
}

.benefit .text p {
    color: #777;
}

.benefit:last-child {
    margin-bottom: 0;
}


.form-container {
    background: #99a3a4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 100px;
    text-align: center;
    animation: slideIn 3s ease-out;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.5rem;
    color: black;
    opacity: .8; 
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    padding-top: 10px;
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: black;
    opacity: .7;
}

.form-group input, .form-group textarea {
    width: 80%;
    padding: 10px;
    font-size: 0.9em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

.checkbox {
    display: flex;
    align-items: center;
}

.checkbox input {
    margin-right: 10px;
}

.btn {
    width: 50%;
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.btn:hover {
    background-color: black;
    color: white;
    opacity: .8;
    transition: .7s ease-in-out;
}

footer{
    display: flex;
    justify-content: space-between;
}

.fot{
    background-color: #99a3a4;
    height: 19rem;
}

.infofotr {
    margin: 9px;
}

.infofotr h2 {
    text-align: center;
    color: white;
    font-size: 2rem;
    padding-bottom: 1rem;
    padding-left: 6rem;
}

.infofotr p {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    padding-left: 6rem;
}

.infofot{
    margin: 8px;
}

.infofot ul {
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.infofot a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}

.infofot a:hover{
    color: black;
    transition: 0.4s ease;
    border-bottom: 1px solid white; 
}

.infofot h2 {
    text-align: center;
    color: white;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.redes{
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: white;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.redes img {
    width: 5rem;
}

.imgfo {
    padding-top: 8rem;
    margin-inline: .5rem;
    margin-right: 3rem;
}

.imgfo:hover {
    transform: translateY(-6px);
}

.lineasep {
    float: right;
    width: 1px;
    margin-top: 20px;
    margin-bottom: 10px;
}

address {
    background-color: black;
    color: white;
    text-align: center;
}

.modal {
    display: none;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.modal-content {
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

/* Para pantallas medianas (tablets) */
@media (max-width: 1024px) {
    header {
        justify-content: center;
        align-items: center;
        height: auto;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 10px;
    }

    .hero {
        flex-direction: column;
        height: auto;
        padding: 30px;
    }

    .hero h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .featured {
        flex-direction: column;
        margin: 50px;
    }

    .img {
        width: 100%;
        margin-bottom: 20px;
    }

    .form-container {
        margin: 50px;
    }
}

/* Para pantallas pequeñas (teléfonos) */
@media (max-width: 768px) {
    header {
        display: flex;
        justify-content: center;
    }

    nav ul li {
        margin: 0px 2.6px;
    }

    .featured {
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .img {
        width: 60%;
    }

    .benefit {
        width: 80%;
    }

    footer {
        display: flex;  
        justify-content: center;
    }

    .infofotr, .infofot {
        width: 80%; 
    }

    .redes {
        flex-direction: row;
        justify-content: space-between;
    }

    .redes img {
        width: 3rem;

    }

    .lineasep {
        display: none;
    }
}